$background_color   : #D48F38;
$header_color       : #F6F6F6;
$title_color        : #212529;
$cards_back_color   : #F6F6F6;
$card_set_header_c  : #212529; 
$card_set_header_t  : white; 
$footer_color       : #F6F6F6;
$nav_menu_color     : darkgray; 
$nav_menu_border    : black; 
$data_bg_color      : rgb(235, 223, 223); 
$btn_bg_color       : lightgray; 
$btn_color          : black; 
$btn_onlimit_color  : rgb(190, 176, 176); 
$header_height      : 8vh;
$nav_height         : 8vh; 
$card_set_gap       : 0.8vw; 
$card_set_header_h  : 2.5rem; 
$footer_height      : 8vh; 